<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 浏览器小图标 -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- 引入less -->
    <link rel="stylesheet/less" href="../less/priceAnalysis.less">
    <link rel="stylesheet/less" href="../less/base.less">
    <script src="../lib/less/less.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <main id="main">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation">
                <a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Link with href
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="row">
                        <div class="item col-xs-4">1</div>
                        <div class="item col-xs-4">2</div>
                        <div class="item col-xs-4">3</div>
                        <div class="item col-xs-4">4</div>
                        <div class="item col-xs-4">5</div>
                        <div class="item col-xs-4">6</div>
                        <div class="item col-xs-4">7</div>
                        <div class="item col-xs-4">8</div>
                        <div class="item col-xs-4">9</div>
                        <div class="item col-xs-4">10</div>
                        <div class="item col-xs-4">11</div>
                        <div class="item col-xs-4">12</div>
                        <div class="item col-xs-4">13</div>
                    </div>
                </div>
            </li>
            <li role="presentation">
                <a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                    Link with href
                </a>
                <div class="collapse" id="collapseExample2">
                    <div class="form-control">
                        123
                    </div>
                    <div class="form-control">
                        123
                    </div>
                    <div class="form-control">
                        123
                    </div>
                </div>
            </li>
            

        </ul>
    </main>
</body>
    <script src="../lib/bootstrap/js/jquery-1.12.4.min.js"></script>
    <script src="../lib/artTemplate/template.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/priceAnalysis.js"></script>
</html>